.total {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: aqua;
    background-color: black;
}

.heading {
    color: black;
    font-weight: 100;
    background-color: aqua;
}

.page {
    background-color: violet;
    color: black;
    font-family: 'Comic Sans';
}

/* * { */
    /* color: yellow; */
    /* background-color: blueviolet; */
    /* font-family: Arial, Helvetica, sans-serif; */
/* } */